
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.full {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none;
}

ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

.header {
    display: flex;
    flex-direction: column;
    background-color: #1F2937;
    color: #F9FAF8;
    padding: 10px 150px 100px 100px;
    gap: 100px;
}

.menu {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.logo {
    display: flex;
    font-size: 16px;
    color: #f9faf8;
}

h1, h2, p {
    margin: 0;
}


.links ul {
    gap: 16px;
    font-size: 16px;
}


.leftside {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    gap: 10px;
}

.leftside h1 {
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
}

.leftside p {
    font-size: 18px;
    color: #e5e7eb;
}

.hero-btn {
    background-color: #3882f6;
    color: white;
    padding: 5px 20px 5px 20px;
    border-radius: 10px;
}

.hero-content {
    display: flex;
    flex: 1;
    justify-content: space-between;
    gap: 10px;
}

.footer {
    display: flex;
    background-color:#1F2937;
    color: #F9FAF8;
    justify-content: center;
    align-items: center;
    margin-top: auto;
    padding: 30px 0px;
}

.section-one {
    display: flex;
    flex-direction: column;
    background-color: white;
    gap: 10px;
    padding-bottom: 30px;
}

.info {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0px 20px 0px;
}

.containers {
    display: flex;
    gap: 10px;
    justify-content: space-evenly;
    text-align: center;
    padding: 0px 100px 0px 100px;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    max-width: 150px;
}

.cardbox {
    display: flex;
    width: 150px;
    height: 150px;
    background-color: white;
    border: solid 2px #3882f6;
    border-radius: 20px;
}

.section-two {
    background-color: #e5e7eb;
    display: flex;
    flex-direction: column;
    padding: 50px 150px;
}

.quote {
    font-size: 36px;
    color: #1f2937;
    font-weight: 300;
}

.quote-credit {
    font-weight: 900;
    text-align: right;
    padding-right: 30px;
}

.section-three {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.callbox {
    display: flex;
    background-color: #3882f6;
    border-radius: 10px;
    padding: 30px 150px;
    margin: 50px 0px;
    gap: 50px;
    justify-content: center;
    align-items: center;
}

.calltext {
    color: white;
}

.calltext p {
    font-weight: 100;
}

.callbtn {
    justify-content: center;
    align-items: center;
}

.callbox button{
    display: flex;
    color: white;
    background-color: #3882f6;
    border: 1px solid white;
    border-radius: 10px;
    padding: 5px 20px;
}