
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.full {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.header {
    display: flex;
    background-color: #1F2937;
    color: #F9FAF8;
    height: 300px;
    padding: 10px 100px 10px 100px;
}

.menu {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

.logo {
    display: flex;
}

.links ul {
    display: flex;
    gap: 16px;
}

.footer {
    display: flex;
    background-color:#1F2937;
    color: #F9FAF8;
    justify-content: center;
    align-items: center;
    margin-top: auto;
}

.section-one {
    background-color: white;
    height: 200px;
}

.section-two {
    background-color: #e5e7eb;
    height: 200px;
}

.section-three {
    background-color: white;
    height: 200px;
}